.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
include/
lib/
bin/
pip-log.txt
pip-delete-this-directory.txt
.toast
.buildpath
.project
.settings
.idea
.vscode
.env
.env.test
tests/
README.md
Dockerfile
.dockerignore