# Application Settings
ENVIRONMENT=development
DEBUG=true

# Database
DATABASE_URL=postgresql://user:password@host:port/dbname

# Resend Email Service
RESEND_API_KEY=
RESEND_FROM_EMAIL="Sujeet from ParodyWall <sujeet@parodywall.com>"

# JWT Authentication
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60 * 24 * 7